@page
@model EMS.Pages.StudentPages.SelectModel
@{
}
<form method="post">
  <label for="sem">Enter Term ID:&nbsp;</label><br />          <input asp-for="input.TId" type="text" id="sem"><br /><br />
  <label for="sem">Enter Student ID:&nbsp;</label><br />          <input asp-for="input.SId" type="text" id="sem"><br /><br />
  <input type="submit" value="Select">
</form>