@page
@model EMS.Pages.AdminPages.AdminMenuModel
@{
}
<a href="~/AdminPages/TermInsert"> Add a new term. </a><br />
<a href="~/MutualPages/TermSearch"> Search among existing terms </a><br />
<a href="~/AdminPages/TermView"> View terms selected by students  </a><br />
